<link rel="stylesheet" href="/styles/blog.css"/>
<div class="blog-ctner flex-ctner">
    <nav class="blog-nav flex-ctner">
        <div class="nav-ctner flex1">
            <div class="user">
                <a href="#">
                    <img src="http://www.donews.com/idonews/Upload/thumbs/AI-8Cm17iY3v4.png" width="95px" height="95px"
                         alt="#">
                    <span></span>
                    <h5 class="font-weight-normal">苏伟明</h5>
                </a>
            </div>
            <p class="info tr">
                搞互，搞联，搞网。<br/>交流请加微信A1224912 </p>

            <div class="data fr">
                <p>被查看 1647548 次</p>
            </div>
        </div>
    </nav>
    <section class="flex1">
        <div class="content-ctner">
                <ul class="blog-list">
                    <li class="post-item">
                        <h2><a href="/idonews/article/6691.shtm" target="_blank">人工智能还是机器学习，你得掰开来看</a></h2>
                        <h5><span class="post-item-icon fr" style="display: none;"><a href="#" target="_blank">评论</a>&nbsp;(2)</span><span>2015-07-21 11:46</span><span style="display: none;">阅读（6.8万）</span></h5>
                        <p>
                            先亮明观点。现阶段的人工智能，更多的是指“机器学习”。






                            我把人工智能的发展史划为三个阶段：


                            1)认知期。上个世纪80年代，电脑方兴未艾，还只是Geek和“疯子”的玩物。这一时期，人们对电脑这一事物是充满恐惧感的。在这之前，科幻小说走到最前面，一些关于计...</p>
                    </li>
                    <li class="post-item">
                        <h2><a href="#" target="_blank">同城货运O2O要想火，首先面临三道门槛</a></h2>
                        <h5><span class="post-item-icon fr" style="display: none;"><a href="#" target="_blank">评论</a>&nbsp;(2)</span><span>2015-07-14 12:07</span><span style="display: none;">阅读（6.8万）</span></h5>
                        <p>
                            同城货运领域，或许会诞生了一个“货运版滴滴”。





                            据媒体报道，同城供应链配送平台“云鸟”近日宣布，已完成数千万美元级B轮巨额融资，由红杉资本领投。事实上，云鸟配送距离其上一轮投资，也才半年时间。


                            其实，同城货运并不是一个新鲜事物。百度百科给出的定义是基于互联...</p>
                    </li>
                    <li class="post-item">
                        <h2><a href="/idonews/article/5721.shtm" target="_blank">过去一年里，移动社交创业领域都发生了什么</a></h2>
                        <h5><span class="post-item-icon fr" style="display: none;"><a href="#" target="_blank">评论</a>&nbsp;(2)</span><span>2015-02-20 22:04</span><span style="display: none;">阅读（6.8万）</span></h5>
                        <p>
                            移动社交领域，在过去的一年里，发生了惊人的变化。唐岩用陌陌告诉我们，熟人社交之外还有陌生人社交；林承仁用秘密告诉我们，陌生人社交之外还有熟人匿名社交。越来越多的创业者意识到，在腾讯社交帝国的阴影下，也并非完全没有生存的可能。于是，基于不同类型的移动社交应用如雨后春笋般冒出。



                            ...</p>
                    </li>
                </ul>
        </div>
    </section>
</div>
