<link rel="stylesheet" href="/styles/im.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<div class="im-ctner flex-ctner">

    <section class="im-content flex1 flex-ctner" style="">


        <section class="flex1">
            <header class="flex-ctner">
                <img class="" src="https://avatars.githubusercontent.com/angular">
                <div class="info flex1">
                    <span class="fs14 line-height-100" >
                        苏玮明
                    </span>
                    <p class="fs12" >
                        #一个已经到来的新时代!
                    </p>
                </div>
            </header>
            <ul>
                <li>
                    <a class="flex-ctner">
                        <div class="img-ctner">
                            <img class="" src="https://avatars.githubusercontent.com/angular">
                        </div>
                        <div class="info flex1">
                    <p class="fs14 line-height-100 font-weight-blod" >
                        苏伟
                        <span class="fr color-ddd">2015-07-18 15:30:25</span>
                    </p>
                            <p class="fs12" >
                               ##一个已经到来的新时代!
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex-ctner">
                        <div class="img-ctner">
                        </div>
                        <div class="info flex1">
                            <p class="fs12" >
                                ##一个已经到来的新时代!
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex-ctner">
                        <div class="img-ctner">
                            <img class="" src="https://avatars.githubusercontent.com/angular">
                        </div>
                        <div class="info flex1">
                            <p class="fs14 line-height-100 font-weight-blod" >
                                苏伟
                                <span class="fr color-ddd">2015-07-18 15:30:25</span>
                            </p>
                            <p class="fs12" >
                                ##一个已经到来的新时代!!
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex-ctner">
                        <div class="img-ctner">
                            <img class="" src="https://avatars.githubusercontent.com/angular">
                        </div>
                        <div class="info flex1">
                            <p class="fs14 line-height-100" >
                                苏伟
                                <span class="fr color-ddd">2015-07-18 15:30:25</span>
                            </p>
                            <p class="fs12" >
                                ##一个已经到来的新时代!!
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex-ctner">
                        <div class="img-ctner">
                            <img class="" src="https://avatars.githubusercontent.com/angular">
                        </div>
                        <div class="info flex1">
                            <p class="fs14 line-height-100" >
                                苏伟
                                <span class="fr color-ddd">2015-07-18 15:30:25</span>
                            </p>
                            <p class="fs12" >
                                ##一个已经到来的新时代!
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex-ctner">
                        <div class="img-ctner">
                            <img class="" src="https://avatars.githubusercontent.com/angular">
                        </div>
                        <div class="info flex1">
                            <p class="fs14 line-height-100" >
                                苏伟
                                <span class="fr color-ddd">2015-07-18 15:30:25</span>
                            </p>
                            <p class="fs12" >
                                # #一个已经到来的新时代!
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <footer class="flex-ctner">
            <div class="avator" style="  padding: 5px 20px;">
                <img class="" src="https://avatars2.githubusercontent.com/Bytesu?&amp;s=30" style="width: 30px; ">

            </div>
            <div class="info flex1" style="
    padding: 5px 0;
">
                <textarea  autofocus name="" id="" cols="30" rows="10" class="chat-input__text-area" placeholder="请输入消息!"></textarea>
            </div>
            <div class="chat-tool">
                聊天工具
            </div>
        </footer>
    </section>
    <section class="im-menu flex0" >
        <img class="fr" src="/images/logo/dingdian.png" style="height: 30px;position: fixed;bottom:0px;right: 0px;">
        <nav class="nav-menu flex-ctner">
            <div class="user-ctner">
               <div class="panel">
                   <img src="https://avatars2.githubusercontent.com/Bytesu?v=3&s=32" alt=""/>
               </div>
            </div>
            <div class="user-list flex1">
                <ul>
                    <li class="nowrap">
                        <a href="javascript:void(0);" title="一个已经到来的新时代">
                            <img src="https://avatars2.githubusercontent.com/Bytesu?v=3&s=16" alt=""/>
                            <span class="fs14">苏伟</span>
                            <span class="fs12">##一个已经到来的新时代!</span>
                        </a>
                    </li>
                    <li class="nowrap">
                        <a href="javascript:void(0);" title="一个已经到来的新时代">
                            <img src="https://avatars2.githubusercontent.com/Bytesu?v=3&s=16" alt=""/>
                            <span class="fs14">苏伟</span>
                            <span class="fs12">##一个已经到来的新时代!</span>
                        </a>
                    </li>
                    <li class="nowrap">
                        <a href="javascript:void(0);" title="一个已经到来的新时代">
                            <img src="https://avatars2.githubusercontent.com/Bytesu?v=3&s=16" alt=""/>
                            <span class="fs14">苏伟</span>
                            <span class="fs12">一个已经到来的新时代</span>
                        </a>
                    </li>
                    <li class="nowrap">
                        <a href="javascript:void(0);" title="一个已经到来的新时代">
                            <img src="https://avatars2.githubusercontent.com/Bytesu?v=3&s=16" alt=""/>
                            <span class="fs14">苏伟</span>
                            <span class="fs12">##一个已经到来的新时代!</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="user-panel">
                <img src="https://avatars2.githubusercontent.com/Bytesu?v=3&s=32" alt=""/>
            </div>
        </nav>
    </section>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/im/im.js" data-src=""></script>
