// path
$base: './../../laolvo/';
$border-border-image: $base +'imgs/nav_border.png';
$border-line: $base +'imgs/border-line.png';
$btn-search: $base + 'imgs/search_icon.png';
$btn-searchx2: $base + 'imgs/search_iconx2.png';
$home: $base + 'imgs/ico_home@2x.png';
$bg-imgx2: $base + 'imgs/showcase2x-1416814739063.png';
$bg-img: $base + 'imgs/showcase-1416814739063.png';
$bg-store: $base + 'imgs/store_f797659d9e.png';
$bg-storex2: $base + 'imgs/store@2x_f797659d9e.png';
$bg-pc: $base + 'imgs/icons-sf9c085a56a.png';
//color
$white: #fff;
$color-f8: #f8f8f8;