* {
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
}
body {font-family: STHeitiSC-Light, HiraginoSansGB-W3, 'Hiragino Sans GB', tahoma, arial, sans-serif;}
.flex-ctner {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.flex {flex: 1;}